.active .nav-link-text,
.sidebar-dropdown .sidebar-submenu ul .nav-item .active .nav-sublink-text {
    font-weight: bold;
}

.text-notification-number {
    background-color: orange;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 100%;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    left: 8px;
    bottom: 6px;
}

.sidebar-submenu {
    background-color: white;
}

.sidebar-submenu ul {
    list-style: none;
}

.nav-subitem {
    margin-left: 0;
    margin-right: 0;
}

.nav-item .nav-link:hover {
    background-color: rgba(128, 208, 255, 0.808);
}

.login-card-header,
.register-card-header {
    background-color: #525f7f;
}

.btn-submit {
    background-color: #8965e0;
}

.login-card-footer-link {
    font-size: .8em;
}

.login-card-footer-link:hover {
    color: #8965e0;
    font-weight: bolder;
}

.text-register {
    font-size: .8em;
}

.login-card {
    width: 30vw;
}

.register-card {
    width: 40vw;
}

.login-card,
.register-card {
    box-shadow: 10px 10px 29px 0px rgba(158, 158, 158, 0.75);
    -webkit-box-shadow: 10px 10px 29px 0px rgba(158, 158, 158, 0.75);
    -moz-box-shadow: 10px 10px 29px 0px rgba(158, 158, 158, 0.75);
}