.navbar-nav .nav-item .active:hover {
    color: white;
}

.navbar-nav .nav-item .pr-0 {
    font-weight: normal;
}

.navbar-nav .nav-item .pr-0:hover {
    color: #14bf98;
    font-weight: bolder;
}

.dropdown-menu {
    top: auto;
    left: auto;
    background-color: transparent;
}

.noti-title {
    margin-top: -2vh;
}